@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-6">
        <a href="..\Usuario\Login"><button class="btn btn-block btn-primary">Entrar no Sistema</button></a>

    </div>
        <div class="col-lg-6">
            <button type="button" class="btn btn-block btn-success">Registrar uma Conta</button>
        </div>

    </div>
